/* contact.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contact-form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--green-200);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    font-size: 14px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
    
  }

  .btn {
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 250ms, opacity 400ms;
    opacity: 75%;
  }
  
  .btn:hover{
    transform: scale(1.15) translateY(-10px); 
    opacity: 100%;
  }
  