.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green-200);
  border-radius: 10px;
  gap: 10px;

  padding: 10px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 40px;
}

.pages {
  display: flex;
  gap: 10px;
}

.pages a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.pages span {
  font-family: "Chillax";
  color: var(--green-400);
  font-weight: bold;
}

.copyright {
  margin-top: 50px;
}

.github {
  height: 20px;
}

#github {
  width: 20px;
  width: 20px;
}
