body{
    height: 10000px;
}

.container1{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-cont{
    border-radius: 5%;
    width: 1000px;
    padding: 5px;
    color:black;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.mushImg{
    width: 450px;
    height: auto;
}

.textM{
    display: flex;
    justify-content: center;
}
