.mushImg{
    width: 425px;
}

.container1{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.mission-cont{
    background-color: var(--brown-200);
    border-radius: 5%;
    width: 600px;
    padding: 5px;
    color:black;
}

.textM{
    display: flex;
    justify-content: center;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
body{
    height: 10000px;
}