.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.mission-cont {
  border-radius: 5%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  height: 600px;
}

.textM {
  font-size: 50px;
}

/* #green {
  color: var(--green-400);
}

#clear {
  color: skyblue;
}

#future {
  color: var(--orange-400);
} */

#clear .mushImg {
  width: 450px;
  height: auto;
}
