.navbar {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Chillax", sans-serif;
  z-index: 999;

  background-color: rgb(218, 234, 207, 0.95);
  border-radius: 10px;

  padding: 10px;
  margin-top: 20px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}
