.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(164, 172, 134, 1);
  border-radius: 10px;

  padding: 10px;
  margin-top: 20px;
}

.navbar span {
  font-family: "Chillax", sans-serif;
  font-size: 40px;
}
