section {
  height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

:root {
  /* --brown-800: rgb(88, 47, 14);
  --brown-600: rgb(127, 79, 36);
  --brown-400: rgb(147, 102, 57);
  --brown-200: rgb(166, 138, 100); */
  --orange-400: rgb(254, 85, 0);

  --green-800: rgb(5, 54, 35);
  /* --green-600: rgb(65, 72, 51); */
  --green-400: rgb(0, 170, 71);
  --green-200: rgb(218, 234, 207);
  --grey-100: #dad7cd;
}

* {
  margin: 0;
  padding: 0;
}
