body {
  margin: 0;
  font: 500 20px/1.4 "Author", sans-serif;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey-100);
  scroll-behavior: smooth;
}
